!.gitkeep

.gitconfig
.bash*
.cache
.config/
.local/
.nfs*
.profile
.python*
README.txt
.vim*
.virtualenvs/

.vscode/*

dev/*
site/images/*

site/tablesorter/*

data/*.json
logs/*.log

*.tar 
*.bak 

__pycache__/
*.py[cod]
*$py.class