.tillholder,.tillholder * {
    font-size: 2.2vh;
    font-family: 'Courier New', Courier, monospace;
}
.tillholder {
    width: 100%;
    max-height: 95%;
    overflow: hidden;
    display: flex;
}

.tillholder table {
    max-width: 75%;
    overflow: scroll;
}

.tillholder div {
    margin-left: 20px;
}
.tillscroll {
    overflow-y: scroll;
}

#tilltree {
    max-width: 100%;
    background-color: lightgray;
    color: black;
    display: none;
}

th:first-of-type, td:first-of-type {
    text-align: left !important;
}

th,td {
    min-width: 100px;
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
}

#tilltree th,#tilltree td {
    padding-right: 20px;
}

.receipt {
    display: none;
}

.receiptview {
    vertical-align: top;
    background-color: rgb(240, 247, 212);
}

.receiptview * {
    color: darkblue !important;
}

.indenter a:link,.indenter a:visited,.indenter a:active {
    color: green;
    text-decoration: none;
}