.camera {
  display: none;
  position:absolute;
  left :50px;
}

#video {
  width:800px;
  height:450px;
  /* transform: translateX(360px) rotate(90deg); */
  transform: translateY(775px) rotate(270deg);
  transform-origin: top left;    
  position: absolute;
  left: 0px;
}

.photo {
  display: none;
  width: 450px;
  height: 800px;
  position: absolute;
  top: 75px;
  left: 50px;
}