@reboot ~/Gym_Cards/system/startup.sh >>~/Gym_Cards/logs/system.log 2>&1
0,30 * * * * bash ~/Gym_Cards/system/backup.sh $(date +"\%Y_\%m_\%d_\%H") >>~/Gym_Cards/logs/system.log 2>&1
0 9,11,13,15,17,19 * * * bash ~/Gym_Cards/system/readlogs.sh >>~/Gym_Cards/logs/system.log 2>&1
