@reboot ~/Gym_Cards/system/startup.sh >>~/Gym_Cards/logs/system.log 2>&1
0 8,10,12,14,16,18,20,22 * * * bash ~/Gym_Cards/system/backup.sh $(date +"\%Y_\%m_\%d_\%H") >>~/Gym_Cards/logs/system.log 2>&1
15,45 * * * * bash ~/Gym_Cards/system/locklogread.sh >>~/Gym_Cards/logs/system.log 2>&1
