<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {% include 'head.j2' %}
  <link rel="stylesheet" href="checkout.css">
  <script src="checkout.js"></script>
</head>
<body>
  <div class="debug"></div>
  {% include 'toplayout.j2' %}
  <div class="checkout">
    <div class="checktop">
      <div class="checkoutcard">
        Scan Card
      </div>
      <div class="checkoutboard">
        Enter Name: <div id="checkouttext">&nbsp;</div>
        <div id="checkoutletters"></div>
      </div>
      <div class="checktopleft">        
        {% for page in itemdb %}
          {% for type in itemdb[page] %}
          <span class="checktopleftrow" data-type="{{type}}">
            {% for item in itemdb[page][type]["items"] %}
              <span class="checkitem checklayer{{ page }}" style="background-color: {{ itemdb[page][type]['color'] }}" data-type="{{ type }}" data-price="{{item['price']}}">
                <span class="checkitemlabel">{{ item["title"] }}</span>
                <span class="checkitemprice"></span>
              </span>
            {% endfor %}
          </span>
          {% endfor %}
        {% endfor %}
        </span>
      </div>
      <div class="checktopright">
        <div class="checktoprighttop"></div>
        <div class="checktoprightbottom"></div>
      </div>
    </div>
    <div class="checkbottom">
      <div class="checkbottomlt">
        <span class="checkbutton" id="checkcancel">
          <span></span>
        </span>
      </div>
      <div class="checkbottommd">
        <span class="checkbutton" id="checkother">
          <span></span>
        </span>
      </div>
      <div class="checkbottomrt">
        <span class="checkbutton" id="checkgo">
          <span></span>
        </span>
      </div>
    </div>
  </div>
  <audio id="pop" preload="auto">
    <source src="/sounds/pop.wav" type="audio/mpeg">
  </audio>
  <audio id="beep" preload="auto">
    <source src="/sounds/prebeep.wav" type="audio/mpeg">
  </audio>
  <audio id="undo" preload="auto">
    <source src="/sounds/undo.wav" type="audio/mpeg">
  </audio>  
</body>
