<head>
  {% include 'head.j2' %}
  <!-- <meta http-equiv="refresh" content="3600"> -->
  <script src="webcam.js"></script>
  <script>    
    bop=0
    function fade(dir) {
      if (bop) {
        clearInterval(bop)
      }
      bop = setInterval(function() {
        $("#ads").css("opacity",parseFloat($("#ads").css("opacity")) + dir)
      },100)
    }
    function startserver() {
      sto=0
      if (!!window.EventSource) {        
        var source = new EventSource('/stream');
        source.onmessage = function(e) {          
          if (!e.data.startsWith("##")) {
            $("#video").hide()
            $("#photo").hide()
            vals = e.data.split(":::")
            if (vals[0] == "Welcome!") {
              $("#ads div").show()
              fade(.25)
              $("#centerbox").removeClass().html("")
            } else {
              fade(-1)
              $("#ads div").hide()
              if (vals.length > 1)
                $("#centerbox").removeClass().addClass(vals[1])
              $("#centerbox").html(vals[0])
            }                
          }
          if (e.data.startsWith("##ShowCap")) {
            $("#photo").hide()
            $("#video").show()
          }
          if (e.data.startsWith("##MakeCap")) {
            takepicture(e.data.substring(9))
          }
          if (e.data.startsWith("##MemImg")) {
            $("#video").hide()
            $("#photo").attr("src","images/" + e.data.substring(8) + ".png?" + Math.random()).show()
          }
          if (e.data == "##Refresh") {
            location.reload(true);
          }
        }
        source.onerror = function(e) {
          if (sto != 0)
            clearTimeout(sto)
          $("#centerbox").removeClass().text("Server Disconnection") 
          sto = setTimeout(function() {
            $("#centerbox").removeClass().text("") 
            source.close()
            startserver()
          },2000)
        }
      }
    }

    startserver()

    lastad = 0
    ad = 0
    function rotatead() {
      while (lastad == ad) {
        ad = Math.floor({{ sett["adcount"] }}*Math.random())+1        
      }
      if ($("#adv" + ad).hasClass("advtag-" + location.search.substr(1)) && $("#adv" + ad).text().length > 2) { // don't show empty ads - just leave last ad showing
        $(".adv").css("opacity",0)
        $("#adv"+ad).css("opacity",1)
        adrotator = setTimeout(rotatead,{{  sett["adtime"] }})
      } else {
        adrotator = setTimeout(rotatead,50)
      }
      lastad = ad
    }

    adrotator = setTimeout(rotatead,{{  sett["adtime"] }})
  </script>
</head>
<body>
    {% include 'toplayout.j2' %}
    <div id="centerbox"></div>  
    {% include 'bottomlayout.j2' %}
</body>
