<head>
  {% include 'head.j2' %}
  <script>
  if (!!window.EventSource) {
    var source = new EventSource('/stream');
    source.onmessage = function(e) {
      if (!e.data.startsWith("##")) {
        vals = e.data.split(":::")
        $(".modal__content").html(
          $("<div>",{
            id: "showdata",
            class: "centerbox " + vals[1]
          }).html(vals[0])
        )
      }
    }
  }
  </script>
</head>
<body>
    {% include 'toplayout.j2' %}
    
    {% include 'bottomlayout.j2' %}
</body>
