<head>
  {% include 'head.j2' %}
  <script src="webcam.js"></script>
  <script>
  if (!!window.EventSource) {
    var source = new EventSource('/stream');
    source.onmessage = function(e) {
      if (!e.data.startsWith("##")) {
        vals = e.data.split(":::")
        $("#centerbox").removeClass().addClass(vals[1]).html(vals[0])
        $("#video").hide()
        $("#photo").hide()
        $(".ads").show()
      }
      if (e.data.startsWith("##ShowCap")) {
        $("#photo").hide()
        $("#video").show()
        $(".ads").hide()
      }
      if (e.data.startsWith("##MakeCap")) {
        takepicture(e.data.substring(9))
      }
      if (e.data.startsWith("##MemImg")) {
        $("#video").hide()
        $("#photo").attr("src","images/" + e.data.substring(8) + ".png?" + Math.random()).show()
        $(".ads").hide()
      }
    }
  }
  </script>
</head>
<body>
    {% include 'toplayout.j2' %}
    <div class="ads" id="adv1" style='color:{{ sett["ad1col"] }}'>{{ sett["ad1"]|safe }}</div>
    <div id="centerbox">Ready!</div>  
    <div class="ads" id="adv2" style='color:{{ sett["ad2col"] }}'>{{ sett["ad2"]|safe }}</div>
    {% include 'bottomlayout.j2' %}
</body>
