<head>
  {% include 'head.j2' %}
  <script>
    $(document).ready(function(){      
      $("#headright").show()
      $(".adtext,.adcol").on("focus keyup input",function() {
          showad($(this)[0].id.substring(2,3))
      }).trigger("input")
      $("#uploadbutton").click(function() {
        $("#upload").click()
        $("#delpic").prop("checked",false)
      })
      $("#deletebutton").click(function() {
        $("#adpic").attr("src","")
        $("#delpic").prop("checked",true)
      })
      $("#settform").on("submit",function(e) {
        setTimeout(function() {
          $("#upload").val(null); 
        },500)
      })
    })
      
    var loadFile = function(event) {
	    var image = document.getElementById('adpic');
	    image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
</head>
<body>
  {% include 'toplayout.j2' %}
  <div id=settings>
    <form id="settform" action=savesettings enctype=multipart/form-data target="status" method="POST">
      <fieldset>
      <legend> Checkout Settings</legend>
      <div>Require Card
      {% if sett["reqcard"] == "on" %}
        <input id="reqcard" name="reqcard" type="checkbox" checked>
      {% else %}
        <input id="reqcard" name="reqcard" type="checkbox">
      {% endif %}
      </fieldset>
      <fieldset>
      <legend> Ad Image </legend>
      <div>Advert Image</div>
      <input id="upload" type="file" accept="image/gif, image/jpeg, image/png" onchange="loadFile(event)" name="image" id="file" style="display:none;">
      <input id="uploadbutton" type="button" value="Upload Ad Image">
      <input id="delpic" name="delpic" type=checkbox style="display:none">
      <input id="deletebutton" type="button" value="Delete Ad Image">
      </fieldset>
      <fieldset>
      <legend> Ads </legend>  
      <div id="advlist">
      {% for adn in range(1,sett["adcount"]+1) %}
        <div>Advert {{adn}}</div>
        <textarea rows=3 cols=40 class="adtext" id="ad{{adn}}" name="ad{{adn}}" type="text">{{ sett["ad" + adn|string] }}</textarea>
        <input type=color class="adcol" id="ad{{adn}}col" name="ad{{adn}}col" value="{{ sett["ad" + adn|string + "col"]|default("#ffffff", true) }}"><br>
      {% endfor %}
      </div>
      <!-- <P> Theme Settings</P>
      Background <input type=color id="theme0" name="theme0" value="{{ sett["theme0"] }}">
      Message <input type=color id="theme1" name="theme1" value="{{ sett["theme1"] }}">
      Highlight <input type=color id="theme2" name="theme2" value="{{ sett["theme2"] }}">
      Contrast <input type=color id="theme3" name="theme3" value="{{ sett["theme3"] }}"> -->
      <!-- Short Delay <input min=1 max=5 type="number" name="dshort" value={{ sett["dshort"] }}>
      Medium Delay <input min=5 max=10 type="number" name="dmedium" value={{ sett["dmedium"] }}>
      Long Delay <input min=0 max=90 type="number" name="dlong" value={{ sett["dlong"] }}> -->
      <div>&nbsp;</div>
      <input type="submit" value="Save Changes">
      </fieldset>
    </form>
  </div>
  {% include 'bottomlayout.j2' %}
</body>
