<head>
  {% include 'head.j2' %}
  <link rel="stylesheet" href="tablesorter/css/theme.grey.css">
  <script src="tablesorter/js/jquery.tablesorter.js"></script>
  <script src="tablesorter/js/jquery.tablesorter.widgets.js"></script>
  <script src="tablesorter/js/parsers/parser-input-select.js"></script>
  <style>
    .tablesorter  td:nth-child(1),
    .tablesorter  td:nth-child(8),
    .tablesorter  td:nth-child(9),
    .tablesorter  td:nth-child(11),
    .tablesorter  td:nth-child(12) {
      width : 90px !important;
    }
    .tablesorter  td:nth-child(2),
    .tablesorter  td:nth-child(4),
    .tablesorter  td:nth-child(5) {
      width: 120px !important;
    }
  </style>
  <script type="text/javascript">
    lockdb = {{ lockdb | tojson }}
 </script>
 <script>    
  
    function findform(subm) { 
      ff = $(subm).closest("FORM")
      if (ff.length == 0) {        
        $(subm).parents().each(function() {
          ff = $(this).children("FORM")
          if (ff.length != 0) {
            return false
          }            
        })
      }
      return ff
    }
      $(document).ready(function(){
        $("#headright").show();
        if (window.location.href.indexOf("?DEL") >= 0) {
          $(".danger").show()
        }
          $(".showphoto").mouseover(function() {
            if ($(this).attr("data-image")) {
              $("#photo").attr("src","images/" + $(this).attr("data-memno") + ".png?" + Math.random())
              $("#photoframe").show()
            }
          })
          $(".showphoto").mouseout(function() {
            $("#photoframe").hide()
          })
          $("input:submit").click(function() {
            $(this).prop("disabled",true)
            setTimeout(() => { $('#membertable').trigger('update') },500)
            setTimeout(() => { $(this).prop("disabled",false) },1000)
            ff = findform(this)
            if (ff != null)
              $(ff).submit()
            if ($(this).val() == "In") {
              $(this).val("Out")
            } else if ($(this).val() == "Out") {
              $(this).val("In")
            } else if ($(this).val() == "Yes" || $(this).val() == "No") {
              $(this).val("??")
            } else if ($(this).attr("id") == "delmember") {
              $(this).parents("tr").remove()
            }
          })
          $("#membertable").tablesorter({ 
            sortList: [[0,0]],
            theme: "grey",
            headers: {
              0 : {
                sorter: "digit"
              },
              1 : {
                sorter: "digit"
              },
              2 : {
                extractor: "inputs",
                sorter : "inputs"
              },
              3 : {
                extractor: "inputs",
                sorter : "inputs"
              },
              4 : {
                extractor: "inputs",
                sorter : "shortdate",
                filter: false
              },
              5 : {
                extractor: "inputs",
                sorter : "shortdate",
                filter: false
              },
              6 : {
                extractor: "inputs",
                sorter : "shortdate",
                filter: false
              },
              7 : {
                sorter: "select-text"
              },
              8 : {
                sorter: "select-text"
              },
              9 : {
                filter: false,
                sorter: false
              }
            },
            textExtraction: {
              9: function(node,table,cellIndex) {
                return $(node).find("input[type=submit]").val()
              },
              10: function(node,table,cellIndex) {
                return $(node).find("input[type=submit]").val()
              }
            },
            emptyTo: 'emptyMax',
            widgets: ["zebra", "filter"],
            widgetOptions : {
              filter_columnFilters : true,
              filter_startsWith: false,
            }
          })
      })
  </script>
</head>
<body>
  {% include 'toplayout.j2' %}
  <table id="membertable" class="tablesorter">
    <thead>
      <tr>
      <th>Mem No</th>
      <th>Card ID</th>
      <th>Member Name</th>
      <th>Paper No</th>
      <th>Created</th>
      <th>Last Seen</th>
      <th>Expires</th>
      <th>VIP</th>
      <th>Staff</th>
      <th></th>
      <th>In/Out</th>
      <th>Photo</th>
      </tr>
    </thead>
    <tbody>
    {% for card in carddb %}
      <tr>                      
        <td>
          <form action="delmember" target="status" method="POST"> 
            <input name="card" type="hidden" value="{{ card }}">
            {{ carddb[card]["memno"] }} 
            {% if carddb[card]["memno"] != 1 %}                           
              <input id="delmember" type=submit class="danger" value="X">
            {% endif %}
          </form>
        </td>
        <td>
          <form action="replace" target="status" method="POST">
            {{ card }}
            <input type=hidden name="card" value="{{ card }}">
            <input type=submit value="Repl">
          </form>
        </td>
        <form action="update" target="status" method="POST">
          <input name="card" type="hidden" value="{{ card }}">
          <td>
            <input size=15 name="name" type="text" value='{{carddb[card]["name"]}}'>
          </td>
          <td>
            <input size=5 name="papermemno" type="text" value='{{ carddb[card]["papermemno"] }}'>
          </td>
          <td>                            
            {{ carddb[card]['created'] }}
          </td>
          <td>                            
            {{ carddb[card]['lastseen'] }}
          </td>
          <td>                            
            <input type="date" name="expires" value="{{ carddb[card]['expires'] }}">
          </td>
          <td>
            <select name="vip">
            {% if carddb[card]["vip"] %}
              <option selected>Yes</option>
              <option>No</option>
            {% else %}
              <option>Yes</option>
              <option selected>No</option>
            {% endif %}
            </select>
          </td>
          <td>
            {% if carddb[card]["memno"] != 1 %}                           
              <select name="staff">
              {% if carddb[card]["staff"] %}
                <option selected>Yes</option>
                <option>No</option>
              {% else %}
                <option>Yes</option>
                <option selected>No</option>
              {% endif %}
              </select>
            {% else %}
              Yes
            {% endif %}
          </td>
          <td>
            <input type="submit" value="Save Changes">
          </td>
        </form>
          <td>
            <form action="swipe" target="status" method="POST">
              <input name="card" type="hidden" value="{{ card }}">                            
              {% if carddb[card]["memno"] in memdb %}              
                <input type="submit" value="In">
              {% else %}
                <input type="submit" value="Out">
              {% endif %}
            </form>
        </td>
        <td>                            
          <form action="takephoto" target="status" method="POST">
            <input name="card" type="hidden" value="{{ card }}">
            {% if os.path.exists("site/images/" ~ carddb[card]["memno"] ~ ".png") %}              
              <div class=showphoto data-memno="{{ carddb[card]['memno'] }}" data-image="Y"><input type="submit" value="Yes"></div>
            {% else %}
              <div class=showphoto data-memno="{{ carddb[card]['memno'] }}"><input type="submit" value="No"></div>
            {% endif %}
          </form>
          <form action="delphoto" target="status" method="POST">
            <input name="card" type="hidden" value="{{ card }}"> 
            <input type=submit class="danger" value="X">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>        
  {% include 'bottomlayout.j2' %}
</body>
