<head>
  {% include 'head.j2' %}
  <link rel="stylesheet" href="tablesorter/css/theme.grey.css">
  <script src="tablesorter/js/jquery.tablesorter.js"></script>
  <script src="tablesorter/js/jquery.tablesorter.widgets.js"></script>
  <script src="tablesorter/js/parsers/parser-input-select.js"></script>
  <style>
    td {white-space: nowrap;}
    form {margin: 0px;}
    table,table * {
      font-size: 19px;      
    }
    input,select {
      background-color:#9984d4;
    }
    input[type=submit] {
      background-color: darkgreen !important;      
    }
    .tablesorter  td:nth-child(1),
    .tablesorter  td:nth-child(10),
    .tablesorter  td:nth-child(11) {
      width : 70px !important;
    }
    .tablesorter  td:nth-child(4),
    .tablesorter  td:nth-child(5) {
      width: 120px !important;
    }
  </style>
  <script>
      $(document).ready(function(){
          $(".showphoto").mouseover(function() {
            if ($(this).find("input").val() == "New") {
              $(".photo").attr("src","images/" + $(this).attr("data-memno") + ".png").show()
            }
          })
          $(".showphoto").mouseout(function() {
            $(".photo").hide()
          })
          $(".bswipe").mousedown(function() {
            if ($(this).val() == "In") {
              $(this).val("Out")
            } else {
              $(this).val("In")
            }
          })
          $("input:submit").mousedown(function() {
            setTimeout(function() {
              $('#membertable').trigger('update')
            },500)
          })
          $("#membertable").tablesorter({ 
            sortList: [[0,0]],
            theme: "grey",
            headers: {
              0 : {
                sorter: "digit"
              },
              1 : {
                sorter: "digit"
              },
              2 : {
                extractor: "inputs",
                sorter : "inputs"
              },
              3 : {
                extractor: "inputs",
                sorter : "inputs"
              },
              4 : {
                extractor: "inputs",
                sorter : "shortdate",
                filter: false
              },
              5 : {
                extractor: "inputs",
                sorter : "shortdate",
                filter: false
              },
              6 : {
                extractor: "inputs",
                sorter : "shortdate",
                filter: false
              },
              7 : {
                sorter: "select-text"
              },
              8 : {
                filter: false,
                sorter: false
              }
            },
            textExtraction: {
              9: function(node,table,cellIndex) {
                return $(node).find("input[type=submit]").val()
              },
              10: function(node,table,cellIndex) {
                return $(node).find("input[type=submit]").val()
              }
            },
            emptyTo: 'emptyMax',
            widgets: ["zebra", "filter"],
            widgetOptions : {
              filter_columnFilters : true,
              filter_startsWith: false,
            }
          })
      })
  </script>
</head>
<body>
  <iframe name="status" class="status"></iframe>
  {% include 'toplayout.j2' %}
  <table id="membertable" class="tablesorter">
    <thead>
      <tr>
      <th>Mem No</th>
      <th>Card ID</th>
      <th>Member Name</th>
      <th>Paper No</th>
      <th>Created</th>
      <th>Last Seen</th>
      <th>Expires</th>
      <th>Staff</th>
      <th></th>
      <th>In/Out</th>
      <th>Photo</th>
      </tr>
    </thead>
    <tbody>
    {% for card in carddb %}
      <tr>                      
        <td>
          {{ carddb[card]["memno"] }}
        </td>
        <td>
          <form action=replace target="status" method="POST">
            {{ card }}
            <input type=hidden name="card" value="{{ card }}">
            <input type=submit value="Repl">
          </form>
        </td>
        <form action="update" target="status" method="POST">
          <input name="card" type="hidden" value="{{ card }}">
          <td>
            <input size=30 name="name" type="text" value='{{carddb[card]["name"]}}'>
          </td>
          <td>
            <input size=5 name="papermemno" type="text" value='{{ carddb[card]["papermemno"] }}'>
          </td>
          <td>                            
            {{ carddb[card]['created'] }}
          </td>
          <td>                            
            {{ carddb[card]['lastseen'] }}
          </td>
          <td>                            
            <input type="date" name="expires" value="{{ carddb[card]['expires'] }}">
          </td>
          <td>
            {% if carddb[card]["memno"] != 1 %}                           
              <select name="staff">
              {% if carddb[card]["staff"] %}
                <option selected>Yes</option>
                <option>No</option>
              {% else %}
                <option>Yes</option>
                <option selected>No</option>
              {% endif %}
              </select>
            {% else %}
              Yes
            {% endif %}
          </td>
          <td>
            <input class=savechanges type="submit" value="Save Changes">
          </td>
        </form>
        <form action="swipe" target="status" method="POST">
          <td>
            <input name="card" type="hidden" value="{{ card }}">                            
            {% if carddb[card]["memno"] in memdb %}              
              <input class=bswipe type="submit" value="In">
            {% else %}
              <input class=bswipe type="submit" value="Out">
            {% endif %}
          </td>
        </form>
        <form action="takephoto" target="status" method="POST">
          <td>                            
            <input name="card" type="hidden" value="{{ card }}">
            {% if os.path.exists("site/images/" ~ carddb[card]["memno"] ~ ".png") %}              
            <div class=showphoto data-memno="{{ carddb[card]['memno'] }}"><input type="submit" value="New"></div>
            {% else %}
            <div class=showphoto data-memno="{{ carddb[card]['memno'] }}"><input type="submit" value="Add"></div>
            {% endif %}
          </td>
        </form>
      </tr>
    {% endfor %}
    </tbody>
    </table>        
  {% include 'bottomlayout.j2' %}
</body>
