<head>
  {% include 'head.j2' %}
  <script>    
    $(document).ready(function(){
        $("#headright").show();
    });
  </script>
</head>
<body>
  {% include 'toplayout.j2' %}
  <TABLE id="memberstats">
    {% for tval in tvals %}
    <TR>
      <TD> {{ tval }} </TD><TD> {{ tvals[tval] }} </TD>
    </TR>
    {% endfor %}
  </TABLE>
  <div id="recentexpired">
    <TABLE>
    <TD>Expired recently (7 days)</TD>
    {% for rex in rexp %}
    <TR>      
      <TD>{{ rex }}</TD>
    </TR>
    {% endfor %}
    </TABLE>
    </div>
  <div id="upcomingexpired">
    <TABLE>
    <TD>Expiring soon (3 days)</TD>
    {% for uex in uexp %}
    <TR>      
      <TD>{{ uex }}</TD>
    </TR>
    {% endfor %}
  </TABLE>
  </div>
  <div id="substaken">
    <TABLE><TR>
    <TD>Day</TD>
    <!-- <TD>New Members</TD><TD>Renewals</TD></TR> -->
    {% for sub in memsubs %}
    <TR>      
      <!-- <TD>{{ sub }}</TD><TD>{{ memsubs[sub][0]|length }}</TD><TD>{{ memsubs[sub][1]|length }}</TD>      
      <TR><TD></TD><TD>
      {% for mem in memsubs[sub][0] %}
        {{ mem }} </br>
      {% endfor %}
      </TD><TD>
      {% for mem in memsubs[sub][1] %}
        {{ mem }} </br>
      {% endfor %}
      </TD> -->
      <TD>{{ sub }}</TD><TD> New {{ memsubs[sub][0]|length }} </TD><TD>
      {% for mem in memsubs[sub][0] %}
        {{ mem }} ,
      {% endfor %}
      </TD></TR><TR><TD></TD><TD> Renew {{ memsubs[sub][1]|length }} </TD><TD>
      {% for mem in memsubs[sub][1] %}
        {{ mem }} ,
      {% endfor %}
      </TD>
    </TR>
    {% endfor %}
  </TABLE>
  </div>
  {% include 'bottomlayout.j2' %}
</body>
