body {
    background: {{ sett.theme0 }};
    color: {{ sett.theme1 }};
}

.modal__header {
    background: {{ sett.theme2 }};
    color: {{ sett.theme3 }};
    text-shadow: 2px 2px {{ sett.theme0 }};
}

.modal__footer {
    background: {{ sett.theme3 }};
    color: {{ sett.theme2 }};
}

form, form input {
    color: {{sett.theme1 }};
}

input,select {
    background-color: {{ sett.theme0 }};
    color: {{ sett.theme3 }};
}

input[type=submit],input[type=button] {
    background-color: {{ sett.theme3 }};      
    color: {{ sett.theme2 }};
}

#headright a:link, a:visited, a:hover, a:active {
    color: {{ sett.theme3 }};
}

#memberstats {
    border: 2px solid {{ sett.theme2 }};
    color: {{ sett.theme3 }};
}

#memberstats * {
    padding: 10px;
    border-right: 1px solid {{ sett.theme2 }};
}

.flexcols {
    border: 2px solid {{ sett.theme2 }};
    color: {{ sett.theme3 }};
    clear: left;
}

.flexcols * {
    padding: 5px;
    border-right: 1px solid {{ sett.theme2 }};
}
