<iframe name="status" class="status"></iframe>
<div class="modal open">
    <div class="modal__header">Welcome to LJ's Gym</div>
    </img>
    <div class="modal__content">
      <div id="photoframe">
        <video id="video">Video stream not available.</video>
        <img id="photo">
      </div>
