<iframe name="status" class="status"></iframe>
<div class="modal open">
    <div class="modal__header">Welcome to <span style="letter-spacing:0.1em;"><i>LJ'<span style="font-size:70%;vertical-align:super">s</span></span>GYM</i></div>
    <div class="modal__content">
      <div id="photoframe">
        <video id="video">Video stream not available.</video>
        <img id="photo">
      </div>
